@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Involve';
    src: url('/static/fonts/involve/involve-regular.woff2') format('woff2'),
        url('/static/fonts/involve/involve-regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('/static/fonts/involve/involve-regular.woff2') format('woff2'),
        url('/static/fonts/involve/involve-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('/static/fonts/involve/involve-medium.woff2') format('woff2'),
        url('/static/fonts/involve/involve-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Involve';
    src: url('/static/fonts/involve/involve-semibold.woff2') format('woff2'),
        url('/static/fonts/involve/involve-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uncage';
    src: url('/static/fonts/uncage/UNCAGE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uncage';
    src: url('/static/fonts/uncage/UNCAGE-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uncage';
    src: url('/static/fonts/uncage/UNCAGE-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}