{% load static %}

<div class="container mt-12">
    <form method="POST" class="grid grid-cols-12 gap-6 place-items-center rounded-5xl bg-neutral-750 p-9">
        {% csrf_token %}
        <div class="flex items-center col-span-12 gap-2 px-4 py-2 rounded-xl bg-neutral-850 w-fit">
            <img src="{% static 'img/icons/phone__fill-white.svg' %}" alt="phone-icon">
            <h3 class="text-base font-semibold text-neutral-150">Консультация</h3>
        </div>
        <p class="col-span-8 col-start-3 text-5xl leading-none text-center place-self-center text-neutral-150">Оставьте заявку — и мы поможем с подбором направления и курса</p>
        <div class="flex items-end w-full col-span-12 gap-6 mt-12">
            {% for field in consult_form %}
                {% if field.name != 'checkbox' %}
                    <div class="flex flex-col w-full">
                        <label for="{{ field.id_for_label }}" class="text-base font-semibold text-neutral-150">{{ field.label }}</label>
                            {{ field }}
                        
                            {% if field.errors %}
                                <div class="text-sm text-red-500">{{ field.errors }}</div>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="w-2/5 px-6 py-6 mb-1 font-semibold leading-none text-white bg-blue-600 rounded-2xl hover:bg-blue-700">Отправить</button>
        </div>
        <div class="flex items-start col-span-5 gap-4 mt-4">
            {{ consult_form.checkbox}}
            <label class="cursor-pointer text-neutral-500" for="{{ consult_form.checkbox.id_for_label }}">{{ consult_form.checkbox.label}}</label>
        </div>
    </form>
</div>